body {
    font-size: 20px;
    .section__one__main {
        padding-left: 20px;
        .text-row {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 35px;
            padding-right: 35px;
            .col-md-12 {
                h1 {
                    text-align: center;
                    font-weight: 400;
                    font-size: 30px;
                }
            }
        }
        .section__one {
            .col-md-6:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 60px;
                padding-right: 30px;
                text-align: justify;
                font-size: 20px;
            }
            .col-md-6:nth-child(2) {
                max-width: 50%;
                min-height: 450px;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                .image__wrap {
                    height: 100%;
                    width: 100%;
                    .image {
                        height: 100%;
                        background-image: url(us-flag.png);
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }

    .section__two__main {
        .row {
            .col-md-12 {
                padding: 60px;
                padding-left: 150px;
                padding-right: 150px;
                text-align: justify;
                font-size: 20px;
                .list-title {
                    font-size: 27px;
                    font-weight: 300;
                }
            }
        }
    }

    .section__three__main {
        padding-right: 20px;
        .section__three {
            .col-md-6:nth-child(1) {
                max-width: 50%;
                min-height: 540px;
                padding-left: 0px;
                padding-top: 0;
                .image-wrap {
                    height: 100%;
                    width: 100%;
                    .image {
                        height: 100%;
                        background-image: url(us-medical-exam-com.png);
                        background-size: cover;
                        background-position: center center;
                    }
                }
            }
            .col-md-6:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: justify;

                padding-right: 60px;
                padding-top: 30px;
                padding-bottom: 30px;

                font-size: 20px;

                .content{
                    h4{
                        text-align: left;
                        font-weight: 400;
                        font-size: 35px;
                    }
                }
                .list-title {
                    font-size: 25px;
                    font-weight: 400;
                }
            }
        }
    }

    .section__four__main {
        .section__four {
            background-color: #0092c6;
            text-align: center;
            color: white;
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 150px;
            padding-right: 150px;
            .col-md-12 {
                h2 {
                    font-size: 28px;
                }
            }
        }
    }

    .section__five__main{
        .section__five{
            .col-md-12{
                padding: 60px;
                padding-left: 150px;
                padding-right: 150px;
                text-align: justify;
            }
        }
    }
}
